body { 
    background-color: #EAEEF3; 
    font-family: 'Verdana';
}
.ripple { 
    border-radius: 25px; 
    cursor: pointer; 
}

.ContainerApp {
    padding: 0 5px;
}

.MainHeader {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 50px 0 35px 0;
}
.MainText {
    color: #000000;
    font-weight: 700;
    font-size: 24px;
}

.HeaderAndButton {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 15px;
}
.Header { margin-top: 20px; }

.TxtHeader {
    color: #000000;
    text-align: center;
    font-weight: 700;
    font-size: 18px ;
}

.ButtonSaveDays {
    margin-top: 20px;
    cursor: pointer;
}

.TxtButtonSaveDays {
    color: #2D81FF;
    font-family: 'Verdana';
    font-style: normal;
    font-weight: 600;
    font-size: 16px
}

.CheckDayArea {
    background: #FFFFFF;
    margin-bottom: 40px;
    border-radius: 6px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.SingleDay {
    border-radius: 25px;
    margin: 12px auto;

}

.TxtSingleDay {
    font-size: 14px;
    width: 122px;
    height: 40px;
    font-weight: 600;
    font-family: 'Verdana';
    font-style: normal;
    color: #414141;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.ButtonsArea {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    margin-bottom: 20px;

}

.SingleButton {
    align-items: center;
    justify-content: center;
    border-radius: 25px;
    display: flex;
    margin-bottom: 20px;
}

.TxtSingleButton {
    width: 195px;
    height: 48px;
    font-size: 14px;
    font-weight: 600;
    color: #414141;
    font-family: 'Verdana';
    font-style: normal;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}


.StatusButtons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.ResponseArea {

    background-color: #FFFFFF;
    border-radius: 6px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 5px 0 20px 0;
}

.SingleResponse {
    display: flex;
    align-items: center;
    margin: 15px 140px 0 18px;


}

.Label {
    margin-right: 5px;
    display: flex;

}

.ResponseLabel {
    display: flex;

}

.TxtLabel {
    font-family: 'Verdana';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
}

.TxtResponseLabel {
    font-family: 'Verdana';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
}

@media screen and (min-width: 0px) and (max-width: 400px) {
    .TxtSingleDay{
        height: unset;
        width: unset;
        padding:15px
    }
}

@media screen and (min-width: 0px) and (max-width: 650px) {
    .TxtSingleButton{
        width: 170px;
    }
    .SingleResponse{
        margin: 15px 29px 0 18px;
    }
}

@media screen and (min-width: 650px) and (max-width: 800px) {
        .SingleResponse {
                margin: 15px 80px 0 18px;
            }
}




